*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    scroll-behavior: smooth;/*para que haga viaje con escroll cada vez que haga click en el algun elemento del menu*/
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 129, 119,.5) 0%, rgba(255, 134, 122,.5) 0%, rgba(255, 140, 127,.5) 21%, rgba(249, 145, 133,.5) 52%, rgba(207, 85, 108,.5) 78%, rgba(177, 42, 91,.5) 100%),url(../img/IMG_9243-5R.jpg);
    background-repeat: no-repeat;
    background-size: cover;/*adapta la imagen al navegador  */
    background-attachment: fixed; /*fija la imagen*/
    background-position: ;
}

.head{
    text-align: center;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
 .hamburguer{
     position: fixed;
     background-color: #fff;
     top: 30px;
     right: 30px;
     width: 40px;
     height: 40px;
     cursor: pointer;
     border-radius: 10px;
     box-shadow: 0 0 6px rgba(0, 0, 0, .5);

 }

 .menu-navegacion{
     position: fixed;
     top: 0;
     right: 0;
     width: 30vw;
     height: 100%;
     background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly; /* Alinea los items de forma vertical equitativamente*/
     align-items: center;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);  
     transform: translate(110%);
     transition: transform .3s ease-in-out;
 }

 .spread{
     transform: translate(0);
 }

 .menu-navegacion a {
     color:#fff;
     text-decoration: none;
 }

 .titulo{
     font-size: 60px;
     margin-bottom: 15px;
 }
 
 .copy{
     font-weight: 300;
     font-size: 25px;
 }

 /* Nuestro servicio*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color:#BD0606;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;

}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #BD0606;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}


/*Galeria*/

.gallery{
    background-color: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.contenedor-img{
    width: 100%;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;

}

.imagen-ligth{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center; /*centra el contenido de la caja de forma horizontal*/
    align-items: center; /*centra el contenido de la caja de forma vertical*/
    transition: transform .2s ease-in-out;
    transform: translate(100%);
}
.show{
    transform: translate(0);
}

.agregar-img{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transition: transform .3s .2s;
    transform: scale(0);
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;

}

/*Expertos en*/

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
}

/*Footer*/

footer{
    background: #BD0606;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.contac-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 60px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color:#BD0606;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*Media Querys*/
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50%;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 40px;
    }

    .agregar-img{
        width: 80%;
    }
    
    .img-galeria{
        width: 45%;
    }

    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0px;
    }

    .social-media i {
        margin-left: 0;
    }

    .contac-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 75vw;
    }

    .agregar-img{
        width: 95%;
    }

    .hamburguer{
        top:20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contac-us{
        width: 90%;
    }
}